* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    opacity: var(--opacity-default);
}
*:hover {
    opacity: var(--opacity-hover);
}
body {
    background: linear-gradient(to top left, var(--dark-color), var(--light-color));
    font-family: var(--font-family);
}
a {
    text-decoration: none;
}
ol, ul {
    list-style: none;
}