:root {
    --primary-color: rgb(250, 249, 250);
    --secondary-color: rgb(202, 227, 236);
    --dark-color: rgb(56, 6, 56);
    --light-color: rgb(220, 224, 226);
    --font-family: 'sans-serif, Franklin Gothic Medium, Arial Narrow, Arial';
    --font-weight: 600;
    --border-radius: 60px;
    --spacing-unit: 20px;
    --opacity-default: 0.95;
    --opacity-hover: 1;
}